
/* Cette règle permet de définir l'affichage par défaut du texte dans toute la page */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    background-color: #f0f0f0;
    color: #101010;
}

/* Cette règle permet de définir l'affichage du titre principal */
h1 {
    color: blue;
    font-size: 2em;
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    margin: .75em 0;
}

/* Cette règle permet de définir l'affichage de tous les paragraphes */
p {
    text-align: justify;
    margin-bottom: 1.5rem;
}

header {
    background-color: midnightblue;
    color: #f0f0f0;
}

main {
    padding: 2em .5em;
}

footer {
    background-color: #101010;
    color: #a0a0a0;
    text-align: center;
    padding: 4rem 0;
    font-size: .8rem;
}

/* Cette règle s'applique uniquement à l'élément qui a un id "nav-logo" */
#nav-logo {
    width: 1.5em;
}

.nav-list {
    line-height: 2.5rem;
}

.nav-item {
    display: inline-block;
    padding: 0 0.5em;
    transition: .3s ease;
}

.nav-item:hover {
    background-color: #E54C21;
}

/* Cette règle s'applique à tous les éléments qui ont une classe "container" */
.container {
    max-width: 768px;
    margin: 0 auto;
}

.list {
    padding-left: 1.5em;
    background-color: rgb(253, 246, 203);
    border-left: 4px solid gold;
    border-radius: .25em;
}

.list.bullet {
    list-style: disc;
}

.list.numbered {
    list-style: decimal;
}

.list.roman {
    list-style: upper-roman;
}

.gallery {
    text-align: center;
}

.gallery-image {
    display: inline-block;
}

.hoverable {
    position: relative;
}

.hoverable > img {
    height: 10em;
}

.hoverable > figcaption {
    opacity: 0;
    background-color: #E54C21;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
}

.hoverable:hover > figcaption {
    opacity: 1;
}

.hoverable > figcaption > div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}
