/* Cette règle permet de définir l'affichage par défaut du texte dans toute la page */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    background-color: #f0f0f0;
    color: #101010;
    /* Ceci permet de faire en sorte que le footer reste collé au bas de la fen-etre de navigation même si le contenu de la page n'est pas suffisant pour la remplir */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

code {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(253, 246, 203);
    border: 1px solid gold;
    padding: 0 .5em;
}

/* Cette règle permet de définir l'affichage du titre principal */
h1 {
    color: blue;
    font-size: 2em;
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    margin: 2em 0 .75em;
}

h3 {
    font-size: 1.25em;
    margin: 1.5em 0 .5em;
}

/* Cette règle permet de définir l'affichage de tous les paragraphes */
p {
    text-align: justify;
    margin-bottom: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    background-color: midnightblue;
    color: #f0f0f0;
    z-index: 100;
}

main {
    padding: 2em .5em;
}

footer {
    background-color: #101010;
    color: #a0a0a0;
    text-align: center;
    padding: 4rem 0;
    font-size: .8rem;
}

/* Cette règle s'applique uniquement à l'élé maedndt qui a un id "nav-logo" */
#nav-logo {
    width: 1.5em;
}

.nav-list {
    line-height: 2.5rem;
}

.nav-item {
    display: inline-block;
    padding: 0 0.5em;
    transition: .3s ease;
}

.nav-item:hover {
    background-color: #E54C21;
}

/* Cette règle s'applique à tous les éléments qui ont une classe "container" */
.container {
    max-width: 768px;
    margin: 0 auto;
}

.list {
    padding-left: 1.5em;
    background-color: rgb(253, 246, 203);
    border-left: 4px solid gold;
    border-radius: .25em;
}

.list.bullet {
    list-style: disc;
}

.list.numbered {
    list-style: decimal;
}

.list.roman {
    list-style: upper-roman;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}

.hoverable {
    position: relative;
}

.hoverable,
.hoverable > img {
    height: 8em;
}

.hoverable > figcaption {
    opacity: 0;
    background-color: #E54C21;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoverable:hover > figcaption {
    opacity: 1;
}


.hoverable > figcaption > div {
    text-align: center;
}

/* Ces classes permettent de styler les conteneurs dans les démonstrations des différentes propriétés de Flexbox */
.demo-container {
    text-align: center;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    font-size: .9em;
}

.demo-container.padded {
    padding: .5em 1em;
}

.demo-container.expanded {
    min-height: 8em;
}

.demo-container.blue {
    background-color: rgb(195, 195, 255);
    border-color: blue;
    color: blue;
}

.demo-container.green {
    background-color: rgb(198, 255, 198);
    border-color: rgb(0, 160, 0);
    color: rgb(0, 160, 0);
}

.demo-container.purple {
    background-color: rgb(255, 174, 255);
    border-color: purple;
    color: purple;
}

.demo-container.orange {
    background-color: rgb(248, 228, 191);
    border-color: rgb(180, 117, 1);
    color: rgb(180, 117, 1);
}

.small {
    font-size: .8em;
}

/* Ces classes permettent de tester les différentes propriétés de Flexbox */
.flex {
    display: flex;
}

.flex.justify-content-center {
    justify-content: center;
}

/* Chahla: flex-start */
.flex.justify-content-start {
    justify-content: start;
}

/* Rémi: flex-end */
.flex.justify-content-flex-end {
    justify-content: flex-end;
}

/* Mohamed: space-between */
.flex.justify-content-space-between{
    justify-content: space-between;
}

/* Romain: space-around */
.flex.justify-content-space-around{
    justify-content: space-around ;
}

/* MDM: space-evenly */
.flex.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* Julien: flex-direction: row */
.flex.flex-direction-row {
    flex-direction: row;
}

/* Raphael: flex-direction: row-reverse */
.flex.flex-direction-row-reverse { 
    flex-direction: row-reverse;
}

/* Thomas: flex-direction. column */
.flex.flex-direction-column {
    flex-direction: column;
}

/* Hugo: flex-direction: column-reverse */
.flex.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

/* Jonathan: flex-wrap: nowrap */
.flex.flex-wrap-nowrap{
    flex-wrap: nowrap;
}

/* Nicolas: flex-wrap: wrap */
.flex.flex-wrap-wrap {
    flex-wrap: wrap;
}

/* Sylvain */
.flex.align-items-stretch {
    align-items: stretch;
}

.flex.align-items-flex-start {
    align-items: flex-start;
}

.flex.align-items-center {
    align-items: center;
}

.flex.align-items-flex-end {
    align-items: flex-end;
}

.order-minus-1 {
    order: -1;
}

.order-plus-1 {
    order: 1;
}

.grid {
    display: grid;
}

.grid.grid2x2 {
    grid-template-columns: repeat(2, 1fr);
}

.column-span2 {
    grid-column: span 2;
}

.row-span2 {
    grid-row: span 2;
}

#grid-fr {
    grid-template-columns: 2fr 1fr 1fr;
}

#grid-span {
    grid-template-columns: repeat(3, 1fr);
}

#grid-template-areas {
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas:
        "nv nv nv nv"
        ".  hd hd ."
        ".  mn sd ."
        "ft ft ft ft"
    ;
}

#grid-template-areas-navbar {
    grid-area: nv;
}

#grid-template-areas-header {
    grid-area: hd;
}

#grid-template-areas-main {
    grid-area: mn;
}

#grid-template-areas-sidebar {
    grid-area: sd;
}

#grid-template-areas-footer {
    grid-area: ft;
}
